<div id="footer">
  <footer>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-3">
          <h4>Рекламодателям</h4>
          <ul class="list-unstyled">
            <li><a href="{{ path('for_companies') }}">Для компаний</a></li>
            <li><a href="{{ path('for_movies') }}">Для фильмов</a></li>
            <li><a href="{{ path('for_musicians') }}">Для музыкантов</a></li>
            <li><a href="{{ path('for_games') }}">Для игр</a></li>
            <li><a href="{{ path('for_partners') }}">Для партнеров</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Владельцам площадок</h4>
          <ul class="list-unstyled">
            <li><a href="{{ path('for_publishers') }}">Присоединиться к нашей сети</a></li>
            {# <li><a href="#">Документация API</a></li> #}
          </ul>
        </div>
        <div class="col-md-3">
          <h4>О проекте</h4>
          <ul class="list-unstyled">
            <li><a href="http://zombakka.tumblr.com">Блог</a></li>
            <li><a href="{{ path('about_us') }}">Наша команда</a></li>
            {# <li><a href="#">Работа в zombakka</a></li> #}
            <li><a href="{{ path('press_about_us') }}">О нас в прессе</a></li>
            <li><a href="{{ path('contacts') }}">Связаться с нами</a></li>
            <li><a href="{{ path('information') }}">Наши реквизиты</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Помощь</h4>
          <ul class="list-unstyled">
            <li><a href="{{ path('faq') }}">FAQ</a></li>
          </ul>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-7 social-icons">
          <a href="https://vk.com/zombakka" class="fa-stack fa-lg icon-vk">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
          </a>
          <a href="https://facebook.com/zombakka" class="fa-stack fa-lg icon-facebook">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </a>
          <a href="https://twitter.com/zombakka" class="fa-stack fa-lg icon-twitter">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </a>
          <a href="https://plus.google.com/+Zombakka-Inc" class="fa-stack fa-lg icon-gplus">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </a>
        </div>
        <div class="col-md-5 copyright">
          <small class="text-muted">&copy; 2014 Zombakka. Все права защищены.</small>
        </div>
      </div>
    </div>
  </footer>
</div>
