<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Раскрутить ваше видео <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{{ path('for_companies') }}">Для компаний</a></li>
      <li><a href="{{ path('for_movies') }}">Для фильмов</a></li>
      <li><a href="{{ path('for_musicians') }}">Для музыкантов</a></li>
      <li><a href="{{ path('for_games') }}">Для игр</a></li>
      <li><a href="{{ path('for_partners') }}">Для партнеров</a></li>
    </ul>
  </li>
  <li><a href="{{ path('for_publishers') }}">Присоединиться к нашей сети</a></li>
</ul>
